{
    email {$ACME_EMAIL}
    servers {
        timeouts {
            read_header 10s
            read_body 30s
            write 60s
            idle 2m
        }
    }
}
{$WENFOU_DOMAIN} {
    encode gzip
    request_body {
        max_size 512KB
    }
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        -Server
    }
    reverse_proxy api:8000
}
